{% extends '_layouts/session-form' %}

{% if currentUser %}
    {% redirect url('') %}
{% endif %}

{% block title -%}
    {{'page_title_login'|t}} | {{ parent() }}
{%- endblock %}

{% block heading -%}
    {{'page_heading_login'|t}}
{%- endblock %}

{% block form %}
    <input type="hidden" name="action" value="users/login">
    {{ redirectInput('') }}

    <div class="mb-6">
        {% include '_includes/text' with {
            label: '{{"login_form_username"|t}}',
            name: 'loginName',
            value: craft.app.user.getRememberedUsername()
        } %}
    </div>
    <div class="mb-6">
        {% include '_includes/text' with {
            label: '{{"login_form_password"|t}}',
            name: 'password',
            type: 'password'
        } %}
    </div>
    <button class="submit-btn" type="submit">{{'login_form_submit'|t}}</button>
{% endblock %}

